/// Default color variables

$accent-color: #FFC627;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$accent-font: 'Open Sans', sans-serif;
$heading-font: 'Open Sans', sans-serif;
$text-font: 'Open Sans', sans-serif;